.hero-corporate-container .hero-corporate-wrapper {
  max-width: unset;
  padding: 0;
}

.hero-corporate {
  position: relative;
  padding: 0;
  min-height: 300px;
  overflow: hidden;
}

.hero-corporate h1,
.hero-corporate h2,
.hero-corporate h3,
.hero-corporate h4,
.hero-corporate h5,
.hero-corporate h6,
.hero-corporate p {
  max-width: var(--max-width-content);
  margin-left: auto;
  margin-right: auto;
  color: var(--background-color);
  padding: 0 var(--spacing-lg);
}

.hero-corporate.no-image * {
  color: var(--text-color);
}

.hero-corporate picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero-corporate img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (width >= 600px) {
  .hero-corporate {
    min-height: 350px;
  }
}

@media (width >= 900px) {
  .hero-corporate {
    min-height: 400px;
  }

  .hero-corporate h1,
  .hero-corporate h2,
  .hero-corporate h3,
  .hero-corporate h4,
  .hero-corporate h5,
  .hero-corporate h6,
  .hero-corporate p {
    padding: 0 var(--spacing-xl);
  }
}
